*{
    margin: 0%;
    padding: 0%;
}

header{
    height: 5rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    margin-top: 7rem;
    height: 150px;
    width: 150px;
    margin-left: 15px;
    border-radius: 50%;
    object-fit: cover;  /*images will clearly appirer*/
}
 

.chocies{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chocie:hover{
    opacity: 0.5;
    cursor: pointer;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 2rem;
    gap: 5rem;
}
 

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.msg-container p{
   margin-top: 5rem;
   background-color: black;
   color: azure;
   font-size: 2rem;
   border-radius: 1rem;
   padding: 1rem;
}

#user-score{
  margin-left: 1.2rem;
}

#comp-score{
    margin-left: 1.8rem;
  }






